asgiref==3.8.1
dataclasses==0.6
django==5.1.8
django_mongodb_backend==5.1.0b2
djangorestframework==3.16.0
djongo==1.2.31
dnspython==2.7.0
dotenv==0.9.9
mongoengine==0.29.1
pip==24.3.1
pymongo==4.12.0
python-dotenv==1.1.0
sqlparse==0.5.3
tzdata==2025.2
boto3>=1.20.0
django-storages>=1.13.0
